body {
    /* The css !important rule overrides bootstrap defaults */
    background-color: rgb(241, 237, 237) !important;
}

.navbar {
    margin-left: 5%;
    width: 90%;
    background-color: white;
    text-align: center;
    border: 3px solid rgb(18, 18, 18) !important;
}

.navbar-nav {
    font-family: Poppins, sans-serif;
    color: rgb(50, 50, 50) !important;
    font-weight: 600;
}

.navbar-nav li {
    /* margin-left: 10%; */
    width: 200px;
}

.dropdown-menu {
    text-align: center !important;
}

#main-content {
    margin: 2% 5%;
    width: 90%;
    height: auto;
    min-height: 550px;
    align-items: center !important;
    text-align: center;
    padding: 2% 2%;
    font-family: Helvetica, sans-serif;
    background-color: white;
}

.multiple-col-table {
    width: 100%;
    border: 1px solid rgb(50, 50, 50);
    border-collapse: collapse;
}

#carsTable {
    width: 90% !important;
    margin-left: 5%;
}

.few-col-table {
    width: 60%;
    border: 2px solid rgb(50, 50, 50);
    border-collapse: collapse;
    background-color: #D6EEEE;
    font-weight: 600;
    margin-left: 20%;
}

th,
td {
    padding: 5px;
    border: 1px solid rgb(50, 50, 50);
    font-size: 12px;
}

#carsTable th,
td {
    font-size: 14px;
}


.multiple-col-table tr:nth-child(even) {
    background-color: #D6EEEE;
}

.multiple-col-table th {
    background-color: #D6EEEE;
}

.right-aligned-cell {
    text-align: right;
}

.right-aligned-cell {
    text-align: right;
}

.few-col-table td:hover {
    background-color: #daf4f4;
    opacity: 0.6;
}

.car-form-div {
    width: 50%;
    margin-left: 25%;
    background-color: #D6EEEE;
}

#car-form-header {
    font-weight: 600;
    text-align: center;
}

label {
    font-weight: 600;
}

input {
    text-align: center;
}

select {
    width: 50%;
    text-align: center;
}

.sidepanel {
    background-color: rgb(208, 249, 224);
    height: 75%;
    width: 60%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: left;
    padding: 2%;
    border: 1px dotted rgb(50, 50, 50);
}

.sidepanel h6 {
    margin-left: 5%;
}

#panel-div img {
    width: 50%;
    height: auto;
    margin-top: 10%;
    margin-left: 25%;
}

.closing-panel-x {
    color: white;
    font-weight: 900;
    float: right;
    font-size: 48px;
    line-height: 24px;
    cursor: pointer;
}

.alert {
    background-color: rgb(241, 76, 76);
    font-size: 18px;
    padding: 15%;
    color: white;
    opacity: 0.8;
    transition: opacity 0.6s;
    width: 100%;
    height: 80%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.positive-btn {
    background-color: rgb(208, 249, 224);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 12px;
    font-weight: 600;
    padding: 2px 2px;
    width: 70px;
    text-align: center;
    display: inline-block;
}

.negative-btn {
    background-color: rgb(249, 114, 114);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 0 2%;
    padding: 2px 2px;
    width: 70px;
    text-align: center;
    display: inline-block;
}

.update-car-btn,
.delete-car-btn {
    margin: 0 10% 0 0;
}

.customer-orders-btn {
    padding-top: 2%;
    padding-bottom: 0;
    font-size: 12px;
    font-weight: 800;
    width: 80%;
}

footer {
    font-family: Poppins, sans-serif;
    background-color: white;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 0;
    width: 90%;
    text-align: center;
    border: 3px solid rgb(18, 18, 18) !important;
}

footer p {
    font-size: 12px;
    margin-bottom: 1%;
}

#contact-footer #pic-reference {
    font-size: 10px;
    margin-bottom: 1%;
}

#carouselExampleInterval img {
    width: 70% !important;
    margin: 5% auto auto 15%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(241, 237, 237) !important;
}






/* Following the Bootstrap 5 breakpoints: 
https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
@media screen and (max-width: 992px) {

    /* Lift up nav-link area when vertical nav-items/small screen */
    .navbar-nav {
        margin: -25px auto;
    }

    /* SInce navbar-nav overlaying navbar-toggler (hamburger), make it on above */
    .navbar-toggler {
        z-index: 1;
    }

    /* Recenter/auto left/right the dropdown items, when vertical in small screen  */
    .navbar-nav li {
        padding: 0% auto;
        margin: -5px auto;
        font-size: 12px;

    }

    #main-content {
        /* margin-top: 0;
        margin-left: 0; */
        /* width: 100%; */
        padding: 2% 2%;
    }

    .multiple-col-table {
        width: 100% !important;
        border: 1px solid rgb(50, 50, 50);
    }

    th,
    td {
        padding: 1px;
        font-size: 10px !important;
        border: 1px solid rgb(50, 50, 50);
    }

    .positive-btn,
    .negative-btn {
        border: 1px solid rgb(50, 50, 50);
        margin: 1px;
        padding: 1px;
        width: 50px;
    }

    .customer-orders-btn {
        font-size: 10px;
        font-weight: 600;
    }

    .sidepanel {
        width: 60%;
    }

    .sidepanel h6 {
        font-size: 12px !important;
        margin-left: 5%;
    }

    .alert {
        font-size: 16px;
        padding: 15%;
    }

}


@media screen and (max-width: 576px) {

    .navbar {
        margin-left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        border: 2px solid rgb(18, 18, 18) !important;
    }

    /* Hide our brand name at the top left */
    .navbar-brand {
        /* display: none; */
        visibility: hidden;
    }

    /* Lift up nav-link area when vertical nav-items/small screen */
    .navbar-nav {
        margin: -25px auto;
        text-align: left;
    }

    /* SInce navbar-nav overlaying navbar-toggler (hamburger), make it on above */
    .navbar-toggler {
        z-index: 1;
        font-size: 12px;
    }

    /* Recenter/auto left/right the dropdown items, when vertical in small screen  */
    .navbar-nav li {
        padding: 0% auto;
        margin: -5px auto;
        font-size: 10px;
    }

    .dropdown-menu {
        text-align: left !important;
        width: 50%;
        margin-left: -10px;
        padding: 1% 0;
        border-style: none;
    }

    #main-content {
        /* margin-top: 0; */
        margin: 0;
        width: 100%;
        /* padding: 2% 2%; */
    }

    .multiple-col-table {
        width: 100% !important;
        border: 0.5px solid rgb(50, 50, 50);
        margin-left: 0;
    }

    th,
    td {
        padding: 1px;
        font-size: 8px;
        border: 1px solid rgb(50, 50, 50);
    }


    .multiple-btn-div button {
        margin: 1%;
        width: 40px;
        padding: 0;
        font-size: 8px;
    }

    .sidepanel {
        width: 75%;
    }

    .sidepanel td,
    th {
        font-size: 8px !important;
    }

    .sidepanel h6 {
        font-size: 10px !important;
    }
    
    .alert {
        font-size: 14px;
        padding: 10%;
    }

    footer {
        margin-left: 0;
        width: 100%;
        font-size: 12px;
    }

}